.account-settings-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 75%;
    /* min-height: 95svh; */
}

.account-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgba(0,0,0,0.3); */
    /* height: 85svh; */
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}