.home-design {
    min-height: 95svh;
    /* height: 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* background-color: #333; */
}

/* .home-button-wrapper {
    display: flex;
    width: 80%;
    height: 100%; 
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr)); 
    justify-content: center; 
    grid-gap: 1rem; 
    background-color: cyan;
    justify-items: center;
    align-items: center;
} */

.home-button-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2rem; */
    width: 90%;
    height: 90%; 
    margin-block: 2rem;
    justify-content: center; 
    border-radius: 0.5rem;
    /* background-color: cyan; */
    background-color: rgba(0,0,0,0.3);
    justify-items: center;
    align-items: center;
}

.home-button-wrapper > * {
    flex: 1 1 30%;
    margin-inline: 2rem;
    margin-block: 2rem;
    padding-block: 5rem;
}

.home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    border-radius: 0.5rem;
    font-size: 2rem;
    /* padding: 1rem; */
    /* width: 30rem; */
    /* max-width: 30rem; */
    /* flex: 1 1 30rem; */
    /* height: 15rem; */
}

.home-button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* @media (max-width: 768px) {
    .home-button-wrapper > * {
        margin-inline: 0;
        margin-block: 1rem;
        padding-block: 3rem;
    }
} */