.home-design {
    min-height: 95svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.home-button-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90%; 
    margin-block: 2rem;
    justify-content: center; 
    border-radius: 0.5rem;
    background-color: rgba(0,0,0,0.3);
    justify-items: center;
    align-items: center;
}

.home-button-wrapper > * {
    flex: 1 1 30%;
    margin-inline: 2rem;
    margin-block: 2rem;
    padding-block: 5rem;
}

.home-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    border-radius: 0.5rem;
    font-size: 2rem;
}

.home-button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}