.default-custom-info-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
}

.default-custom-info {
    background-color: rosybrown;
}