.default-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    width: 7rem;
    color: var(--button-color);
}

.default-nav-button:hover {
    background-color: var(--button-color-hover);
    color: var(--dark-font-color);
    cursor: pointer;
}