.student-detail-design {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.student-detail-design h1 {
    padding-block: 2rem;
}

.student-detail-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 85vw;
    height: 85svh;
    padding-block: 1rem;
    gap: 1rem;
    padding-inline: 2rem;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.3);
}

.student-detail-scrollable {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    height: calc(100% - 2rem);
    width: 100%;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 0);
}

.student-detail-scrollable::-webkit-scrollbar {
    width: 8px;
}

.student-detail-scrollable::-webkit-scrollbar-track {
    background: transparent; 
}

.student-detail-scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.student-detail-row {
    display: flex;
    flex-direction: row;

    gap: 1rem;
}

.student-detail-marks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.student-task-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}