* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --main-background-color: #502F4C;
    --button-color: #EBA6A9;
    --button-color-hover: rgb(224, 172, 181);
    --accent-color: #7e64a0;
    --accent-color-hover: #a890c8;
    --secondary-background-color: #2e1b2c;

    --dark-font-color: black;
    --light-font-color: white;
}

#root {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100vw;
    background-color: var(--main-background-color);
}

